.container {
    display: flex;
    justify-content: center;
}

.input_container {
    display: flex !important;
    flex-direction: column;
    margin: 10px;
}

.selectize-input {
    border: 2px solid #B896E2 !important;
}

.selectize-dropdown {
    border: 2px solid #B896E2 !important;
    height: 110px !important;
}

.selectize-dropdown-content {
padding: 0px 5px;
    height: 100px !important;
}

.source_text {
    border-width: 2px;
    border-color: #B896E2;
    border-style: solid;
    border-radius: 5px;
    width: 28vw;
    height: 200px;
    padding: 10px;
}

    .source_text::placeholder {
        position: absolute;
        top: 10px;
    }

    .source_text:focus {
        outline: none;
    }

.output_text {
    border: solid;
    border-width: 2px;
    border-color: #B896E2;
    border-radius: 5px;
    width: 28vw;
    height: 200px;
    padding: 10px;
}

.switch_language_btn {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    background-color: #B896E2;
    border: none;
    border-radius: 5px;
}

    .switch_language_btn img {
        height: 20px;
        width: 20px;
    }

    @media screen and (max-width: 720px) {
        .container {
            flex-direction: column;
        }

        .container {
            align-items: center;
        }

        .select2-container {
            width: 60vw !important;
        }

        .source_text {
            width: 60vw;
        }

        .output_text {
            width: 60vw;
        }

        .switch_language_btn {
            margin: 10px;
        }
    }
