@using Azure.AI.Translation.Text
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@{
    ViewData["Title"] = "Home Page";
    @model IReadOnlyDictionary<string, TranslationLanguage>;
}

<div class="container">
        <div class="input_container">
        <select id="input_language">
            @foreach (var lang in Model)
            {
                <option value="@lang.Key">@lang.Value.Name</option>
            }
            </select>
            <textarea id="input" class="source_text" placeholder="text to translate"></textarea>
        </div>
        <button class="invert_lenguage_btn"><img src="~/images/invert.png"/></button>
        <div class="input_container">
        <select id="target_language">
                @foreach(var lang in Model)
                {
                    <option value="@lang.Key">@lang.Value.Name</option>
                }
            </select>
        <textbox id="output" class="output_text"></textbox>
        </div>
</div>

<script>
    function translate(){
        var input = $("#input").val();
        var sourceLang = $("#input_language").val();
        var targetLang = $("#target_language").val();
        $.ajax({
            type: "POST",
            url: "/Home/Translate",
            data: 
            {
                input : input,
                sourceLang: sourceLang,
                targetLang: targetLang,
            },
            success: function (response) {
                $("#output").text(response)
            },
            error: function (error) {
                console.log(error)
            }
        })
    }

    $("#input").on("input", function () {
        translate();
    })

    $("#input_language").on("change", function () {
        translate();
    });

    $("#target_language").on("change", function () {
        translate();
    });
</script>

<style>
    .container{
        display: flex;
    }

    .input_container{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    select{
        margin-bottom: 20px;
        height: 40px;
        border-width: 2px;
        border-color: #B896E2;
        border-style: solid;
        border-radius: 5px;
    }

    .source_text{
        border-width: 2px;
        border-color: #B896E2;
        border-style: solid;
        border-radius: 5px;
        width: 500px;
        height: 200px;
        padding: 10px;
    }

        .source_text::placeholder{
            position: absolute;
            top: 10px;
        }

        .source_text:focus {
            outline: none;
        }

    .output_text{
        border:solid;
        border-width: 2px;
        border-color: #B896E2;
        border-radius: 5px;
        width: 500px;
        height: 200px;
        padding: 10px;
    }

    .invert_lenguage_btn{
        height: 40px;
        width: 40px;
        margin-top: 10px;
        background-color: #B896E2;
        border: none;
        border-radius: 5px;
    }
</style>